<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="com.jyr.dao.RoleDao">

    <select id="selectAll" resultType="com.jyr.model.Role">
        SELECT ID,ORG_ID orgId,ROLE_DESC roleDesc,CREATE_TIME creteTime,STATUS FROM SYS_ROLE t1
        UNION (
        SELECT FULL_NAME orgName FROM SYS_ORGANIZATION t2 WHERE t2.ID = t1.ORG_ID
        )
    </select>

</mapper>